xap_license_key: ''
xap_download_url: ''
xap_install_prefix: /opt
gsa_gsc: 2
manager_host_pool_service_endpoint: http://...:8081/
gsa_host_pool_service_endpoint: http://...:8080/
network_interface: ethX
